$TTL {{ bind_zone_ttl }};
$ORIGIN {{ ansible_fqdn }}.
@               IN      SOA     master.{{ ansible_fqdn }}.     root.{{ ansible_fqdn }}.       (
                {{ bind_zone_serial }}
                {{ bind_zone_refresh }}
                {{ bind_zone_retry }}
                {{ bind_zone_expire }}
                {{ bind_zone_minimum }}
)
{% for r in bind_forward_entries %}
{{ r.name }}    IN              {{ r.type }}    {{ r.value }}
{% endfor %}
