options {
{% for item in bind_main_options_settings %}
        {{ item.option }} {{ item.value }}
{% endfor %}
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};

zone "." IN {
        type hint;
        file "named.ca";
};

{% for item in bind_zones_entries %}
zone "{{ item.name }}" IN {
    type {{ item.type }};
    file "{{ item.file }}";
};
{% endfor %}

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";